fastapi
uvicorn[standard]
pydantic
pydantic-settings
spacy
celery[redis]
SQLAlchemy
psycopg[binary]
python-dotenv
faker
httpx
jinja2
loguru
numpy
pandas
scikit-learn
alembic
pytest
pytest-asyncio
requests
python-multipart
slowapi
